.all-products-container {
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px;
}

.all-products-container h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
}

.catalog-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 40px;
    
}

.search-bar {
    position: relative;
    width: 100%;
    max-width: 1200px;
}

.search-icon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #fafafa
}

.search-bar input {
    width: 100%;
    padding: 12px 20px 12px 45px;
    border-radius: 30px;
    border: 2px solid var(--border-color);
    background-color: #242424;
    color: white;
    font-size: 1rem;
    outline: none;
}

.search-bar input:focus {
    border-color: var(--primary-color);
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 50px;    
}

.pagination button {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.pagination button:hover:not(:disabled) {
    background-color: #242424
}

.pagination button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.no-results {
    text-align: center;
    padding: 40px;
    font-size: 1.2rem;
    color: #888;
}