.dashboard-container{
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px;
    color: var(--text-color);
}

.dashboard-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid var(--border-color);
}

.create-btn{
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
    text-decoration: none;
}

.create-btn:hover{
    background-color: var(--primary-color-hover);
}

.dashboard-table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    overflow: hidden;
    background-color: var(--card-bg);
    border: 1px solid var(--border-color);
}

.dashboard-table th, .dashboard-table td{
    padding: 1rem;
    text-align: left;
    border-bottom: 1px solid var(--border-color);
    vertical-align:middle;
}

.dashboard-table th{
    background-color: #272727;
    font-weight: 600;
    font-size: 0.9rem;
}

.table-img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 4px;
}



.edit-btn, .delete-btn {
    width: 3rem;
    height: 3rem;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.edit-btn svg, .delete-btn svg {
    width: 1.2rem;
    height: 1.2rem;
}

.edit-btn {
    background-color: #2196f3;
    color: white;
}

.delete-btn {
    background-color: #f44336;
    color: white;
}

.loading-text {
    text-align: center;
    padding: 50px 0;
    font-size: 1.2rem;
}