.product-card {
    border: 1px solid var(--border-color);
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    background-color: var(--card-bg);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
    display: flex;
    flex-direction: column;

}

.product-card img {
    transition: transform 0.4s ease-in-out, filter 0.3s ease-in-out;
}

.product-card:hover img {
    transform: scale(1.05);
    filter: brightness(1.1);
}

.product-image {
    width: 100%;
    display: block;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.product-artist {
  color: #ffffff;
  font-size: clamp(1rem, 2.5vw, 1.1rem);
  font-weight: 500;
  margin: 1rem 0 0.25rem 0;
  text-overflow: ellipsis;
}

.product-price {
    font-size: clamp(1rem, 2.5vw, 1.2rem);
    font-weight: bold;
    color: white;
}

.product-album {
    margin: 0;
    margin-bottom: 0.5rem;
    font-weight: 400;
    opacity: 0.8;
    line-height: 1.4;  
    height: 2.8em;  
}

.add-to-cart-btn {
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    margin-top: auto;
}

.add-to-cart-btn:hover {
    background-color: var(--primary-color-hover);
}