@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");

:root {
  font-family: 'Sora', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --primary-color: #a4161a;
  --primary-color-hover: #8b1215;
  --text-color: #fafafa;
  --card-bg: #1b1a1a;
  --border-color: #2b2b2b; 

}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: linear-gradient(180deg, #1a1a1a, #0c0c0c);
  color: var(--text-color);
}


.primary-btn {
  font-family: 'Sora', sans-serif;
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 5px;
  text-decoration: none;
}

.primary-btn:hover {
  background-color: #8b1215;
}

.toast-center-container {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  min-width: 350px;
  padding: 0;
}

.toast-center-container .Toastify__toast-body {
  text-align: center;
  padding: 20px;
}